.container{
    background-color: #C0EAFF;
    width: 100%;
    height: 100%;
    
}

header{
    font-family: sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    font-size: 2em;
    padding-top: 10px;
    margin-bottom: none;
    padding-bottom: none;
    color: #00547F;
    line-height: 80%;
}

h2{
    font-size: 1.25em;
    margin-top: none;
    padding-top: none;
    color: #0087CC;
    line-height: 0%;
}

.bar{
    border-top: 2px solid #FFFFFF;
    clear: both;
}

.headshot{
    float: right;
    width: 100px;
}

.nav-menu{
    font-family: sans-serif;
    font-size: 1.25em;
    margin-left: -10%;
    list-style-type: none;
}

.nav-menu ul{
    display: inline;
}

.nav-menu ul a{
    text-decoration: none;
    padding: .2em;
    color: #00547F;
}

.nav-menu ul a:hover{
    color: #fff;
}

.display-space{
    background-color: #cdd4d2;
    border-radius: 25px;
    padding: 15px;
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    
}

#main-text{
    float: left;
    width: 70%;
    height: 100%;
    border-right: 1px solid #ffffff;
}

h3{	
    font-size: 1.25em;
	text-align: center;
	color: #ffffff;
	
}

p{
    color: #ffffff;
}


.CodeSample {
font-family: 'Source Code Pro', monospace;
font-variant: normal;
background-color: #f0f0f0;
padding: 0.6em;
margin-top: 0.8em;
margin-bottom: 0.8em;
width: 30%;
}

.social-links{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.social-links ul{
    display: inline;
}
